@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e8ffc2;
  color: #0e185f;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 0;
}
